.paises-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    justify-content: center;
    max-width: 500px;
    margin: 40px auto 0 auto;
    padding: 20px;
}

.bandeira{
    border: 3px solid black;
}

.container{
    background-image: linear-gradient(
        to top right,
        rgb(91, 77, 114),
        rgb(169, 163, 211),
        white

        );
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
    position: relative;
}
.elemento1{
    border: 3px solid black;
    padding: 2rem;
}
.elemento2{
    border: 3px solid black;
    padding: 2rem;
}
.elemento3{
    border: 3px solid black;
    padding: 2rem;
}